@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - TestMVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div style="min-height:90vh;" class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <div class="card-body">
                    <h6>Please enter the one time password <br> to verify your account</h6>
                    <div> <span>A code has been sent to your email</span></div>
                    <form asp-controller="Home" asp-action="OtpCheck" method="post" onsubmit='onSubmit()'>
                        <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                            <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
                            <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" />
                            <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" />
                            <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
                            <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" />
                            <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" />
                        </div>
                        <input id="token" name="token" type="hidden" />
                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <span id="msg" class="text-danger">@ViewBag.Message</span>
                        }
                        <div class="mt-4"> <button class="btn btn-danger px-4 validate" type="submit">Validate</button> </div>
                    </form>
                </div>
            </div>
            <div class="card-2">
                <div class="content d-flex justify-content-center align-items-center">
                    <span>Didn't get the code?</span> <a asp-action="Otp" class="text-decoration-none ms-3">Resend</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
         function onSubmit() {
             let otp = "";
             document.querySelectorAll("#otp input").forEach(input => {
                 otp += input.value;
             });

             document.getElementById("token").value = otp;
         }

         document.addEventListener("DOMContentLoaded", function (event) {
          OTPInput();
          function OTPInput() {
            const inputs = document.querySelectorAll('#otp > *[id]');
            for (let i = 0; i < inputs.length; i++) {
              inputs[i].addEventListener('keydown', function (event) {
                if (event.key === "Backspace") {
                  inputs[i].value = ''; if (i !== 0) inputs[i - 1].focus();
                } else {
                  if (i === inputs.length - 1 && inputs[i].value !== '') { return true; }
                  else if (event.keyCode > 47 && event.keyCode < 58) {
                    inputs[i].value = event.key;
                    if (i !== inputs.length - 1) inputs[i + 1].focus();
                    event.preventDefault();
                  } else if (event.keyCode > 64 && event.keyCode < 91) {
                    inputs[i].value = String.fromCharCode(event.keyCode);
                    if (i !== inputs.length - 1) inputs[i + 1].focus();
                    event.preventDefault();
                  }
                }
              });
            }
          }
        });
    </script>
</body>
</html>
